.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
!.vscode/*.code-snippets

# Local History for Visual Studio Code
.history/

# Built Visual Studio Code Extensions
*.vsix

# Python development directories
elastio-lambda-stream-backup/venv
elastio-lambda-stream-backup/__pycache__

elastio-fargate-stream-backup/venv
elastio-fargate-stream-backup/__pycache__